*{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.show{
	background-color: #10f689;
}
.container{
	margin: 0 auto;
	height: 370px;/*410*/
	width: 400px;/*440*/
	background-color: #fff;
	padding: 20px;
	left: 50%;
	top:65%;
	transform: translate(-50%, -64%);
	position: absolute;
	border-radius: 8px;
	z-index: 1;
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.72);
}

.cardFront{
	margin: 0 auto;
	height: 180px;/*220*/
	width: 350px;/*390*/
	background-image: url("background.JPG");
	padding: 20px;
	left: 50%;
	top:25%;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 8px;
	z-index: 2;
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.72);
}

.cardBack{
	margin: 0 auto;
	height: 180px;
	width: 350px;
	background-image: url("background.JPG");
	padding: 20px;
	left: 50%;
	top:25%;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 8px;
	z-index: 2;
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.72);
}

.description{
	font-size: 10px;
}

.descriCardBack{
	border-top: 200px;
	font-size: 10px;
	color:white;
	margin-left: 320px;
	margin-top: 60px;
	position: absolute;
}

.cnu,.cno{
	height:35px;
	width: 400px;
	margin-top:0px;
	margin-bottom:10px;
	border-radius: 6px;
	border-style:solid;
}

.mva,.cye{
	height:35px;
	margin-right:21px;
	margin-top:0px;
	border-radius:6px;
	border-style:solid;
}

.mva{
	width:116px;
}

.cye{
	width: 116px;
}
.mva{
	margin-bottom:30px;
}


.cvv{
	height:35px;
	width: 116px;
	margin-top:0px;
	border-radius:6px;
	border-style:solid;
}


.sub{
	height:35px;
	width: 400px;
	margin-top:0px;
	border-radius:6px;
	border-style:solid;
	font-weight: bold;
	border-color:#001a3f ;
	font-size: 15px; 
	background-color: #001a3f;
	color:white;
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.72);
}

.cnum{
	height:35px;
	width: 350px;
	margin-top:40px;
	border-radius:6px;
	border-style:solid;
	background-color: transparent;
	margin-bottom: 13px;
	border-color: white;
	border-width: 1px;
	color:white;
}

.cnumBack{
	height:35px;
	width: 350px;
	margin-top:75px;
	border-radius:6px;
	border-style:solid;
	background-color: transparent;
	margin-bottom: 13px;
	border-color: white;
	border-width: 1px;
	color:white;
}

.cdh{
	height:35px;
	width: 265px;
	margin-right: 10px;
	border-radius:6px;
	border-style:solid;
	background-color: transparent;
	border-color: white;
	border-width: 1px;
	color:white;
}

.exp{
	height:35px;
	width: 70px;
	border-radius:6px;
	border-style:solid;
	background-color: transparent;
	border-color: white;
	border-width: 1px;
	color:white;
}

.tipo{
	height:35px;
	width: 70px;
	border-radius:6px;
	border-style:solid;
	background-color: transparent;
	border-color: transparent;
	color:white;
	font-size: 20px;
	font-weight: bold;
}